<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Details</title>
    <link rel="stylesheet" href="/home-details.css">

</head>
<body>
   
    
    <div class="home-details-container">
        <h1><%= home.address %></h1>
        <h2 class="price">Price: ₹ <%= home.price %></h2>
        <% if (home.homeImage) { %>
            <img src="/uploads/<%= home.homeImage %>" alt="Home Image" class="home-img" />
        <% } %>
        <p><%= home.description %></p>
    </div>

</body>
</html>