<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Home Airbnb </title>
    <link rel="stylesheet" href="/AddHome.css">
</head>

<body>
    <h1> Add Your Home </h1>
    <form action = "/host/add-home" method = "POST" enctype="multipart/form-data">
        <input type = "text" name = "address" placeholder = "Enter your home address"/>
        <input type ="number" name = "price" placeholder = "Enter price per night" />
        <!-- <input type ="image" name = "HomeImage" placeholder = "Give picture of home"  /> -->
        <!-- <input type="url" name="homeImage" placeholder="Enter image URL of your home" /> -->
          <!-- <label for="homeImage">Home Image:</label> -->
    <input type="file" id="homeImage" name="homeImage" accept="image/*">
        <button type = "submit"> Add Home </button>
    </form> 
</body>
</html>