<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeHive - My Listings</title>
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="/host-home-list.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="site-nav">
        <div class="navbar">
            <a class="nav-brand" href="/">
                <i class="fa-solid fa-house"></i>
                <span>HomeHive</span>
            </a>
            <div class="nav-links">
                <a href="/"><i class="fa-solid fa-compass"></i> Explore</a>
                <a href="/host/add-home"><i class="fa-solid fa-square-plus"></i> Add Listing</a>
                <a class="is-active" href="/host/host-homelist"><i class="fa-solid fa-table-cells-large"></i> Dashboard</a>
                <a href="/host/buy-requests"><i class="fa-solid fa-comments"></i> Requests</a>
                <a href="/store/bookings"><i class="fa-regular fa-calendar-check"></i> Meetings</a>
                <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
        </div>
    </ul>
    <script src="/js/animations.js"></script>
</body>
</html>
